<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://remotemysql.com:3306/K38ahVLhsU</property>
        <property name="connection.username">K38ahVLhsU</property>
        <property name="connection.password">xNORIKzWrP</property>

        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="ee.sda.mackirill.entities.Person" />
        <mapping class="ee.sda.mackirill.entities.PersonType" />
        <mapping class="ee.sda.mackirill.entities.Order"/>
        <mapping class="ee.sda.mackirill.entities.Table" />
        <mapping class="ee.sda.mackirill.entities.OrderStatus" />
        <mapping class="ee.sda.mackirill.entities.Item" />
        <mapping class="ee.sda.mackirill.entities.Menu" />
        <mapping class="ee.sda.mackirill.entities.OrderedMenuItem" />

    </session-factory>
</hibernate-configuration>